<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Para Sempre Doce - Cardápio e Sobre os Doces</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Para Sempre Doce</h1>
            </div>
            <ul class="nav-links">
                <li><a href="/cardapio">Cardápio</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
            <div class="menu-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <section id="home" class="hero">
        <div class="hero-content">
            <h2>O Mundo Encantado dos Doces</h2>
            <p>Experimente a magia dos nossos doces, feitos com amor e carinho.</p>
            <a href="/cardapio" class="btn">Confira o Cardápio</a>
        </div>
    </section>